

<form action="/user/register" method="POST">

	<input type="text" placeholder="username" 	name="username"/>
	<input type="text" placeholder="password" 	name="password"/>


	<button>Register!</button>

</form>